.clear {clear: both;}

.p-relative {position: relative;}

.p-absolute {position: absolute;}

.f-left  {float:left;}

.f-right  {float:right;}

.f-none {float:none;}

.text-white {color:#fff;}

.mb-20 {
	margin-bottom:20px;
}

.mt-10 {
	margin-top:10px;
}

.mt-20 {
	margin-top:20px;
}


 .hot_news article time {
text-align: right;
}

.datetimepicker1 input {
	display:inline-block;
	width:auto;
	background:transparent;
	outline:none;
	color:#fff;
	width:120px;
}

.login-panel {
	background:#20b2aa;
	margin-top:50px;
	color:#000;
}

.panel-heading {
	background: rgba(3, 3, 3, 0.60);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 45px;
    border-radius: 0;
    padding-left: 20px;
}

.panel-body {
	padding:20px;
}

.panel-body .btn{
	padding:5px 10px;
	margin-top:10px;
	background: rgba(3, 3, 3, 0.60);
}

.panel-body input{
	margin:10px 0;
}

.all-news {
	padding:40px;
	width:100%;
} 

.all-news a.cat-tag {
	display:inline-block !important;
	top:0px;
	left:0px;
}

.all-news article h1 {
	margin-top:0px;
} 

.all-news article {
	margin-bottom:30px !important;
	border-bottom:1px dotted #000 !important;
	padding-bottom:20px !important;
} 


.all-news p{
	margin-top:20px;
} 


.all-news a.cat-tag {
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    background: #20b2aa;
    color: #fff;
    position: relative;
    float: right;
}

.all-news time {
	margin-top:10px;
	display:block;
	float: left;
} 


.pagination>li>a, 
.pagination>li>span,
.pagination>li>a:hover, 
.pagination>li>span:hover,
.pagination>li>a:focus, 
.pagination>li>span:focus  {
	color: #20B2AA;
}

.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
    border-radius: 0px;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #20b2aa;
    border-color: #20b2aa;
    cursor: default;
}

.btn {
	border-radius: 0px !important;
	background: #20B2AA;
}


input[type="checkbox"], 
input[type="radio"] {
	border-radius: 0px !important;
}

.hot_news table {		
	width: 100%;
}

.hot_news table td,
.hot_news table td:last-child, {		
	width: 50%;
}


.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: right;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots {
	display: none;
}


.owl-theme .owl-nav [class*=owl-] {   
    background: #2e323a;
    border-radius: 0px;  
}

.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]:focus {
    background: #20b2aa;
    color: #FFF;
    text-decoration: none;
}

@media screen (max-width: 991px) {
	.hot_news table td {
		display: block;
		width: 100%;
	}
} 


@media screen (max-width: 768px) {
	.all-news article h1,
	.all-news article img,
	.all-news article p {
		height: auto !important;
	}
} 